/* Genel stil ayarları */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

/* Başlık stili */
h1 {
  color: #333;
}

/* Tablo stili */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}

/* Satır stil ayarları */
tr:hover {
  background-color: #f1f1f1;
}

/* Not stili */
.passed {
  color: green;
  font-weight: bold;
}

.stayed {
  color: red;
  font-weight: bold;
}

/* Buton stili */
button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex; /* Iconları yan yana dizmek için */
  align-items: center;
}

button:hover {
  background-color: #45a049;
}

/* Icon stili */
button svg {
  margin-right: 5px; /* Icon ve metin arasındaki boşluk */
}

/* Dialog stil ayarları */
dialog {
  border: none;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* Dialog içindeki input ve butonların ortalanması */
dialog input[type="number"],
dialog input[type="text"],
dialog button {
  display: block;
  margin: 10px auto;
  width: 80%; /* Genişlik ayarı */
}

/* Input stilini iyileştirmek */
input[type="number"],
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Gönder butonuna daha hoş bir stil ekleyelim */
dialog button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

dialog button:hover {
  background-color: #45a049;
}

/* Kapatma butonu için stil */
.closeButton {
  background-color: red;
}

.closeButton:hover {
  background-color: darkred;
}